{{ partial "main" . }}

  <div class="text-center">
    <img src="pathless-logo.png" width="100px">
    <div style="padding-top:10px;">
      <a href="/supple" style="color: #000000"> <h3 class="name"> PathLessPedaled Supple Score  </h3> </a>
    </div>
    <div>
      Video explaining the rating system: <a href="https://youtu.be/USzKtl8rZGU">here</a>.
    </div>
    <br>
    <div>
      Found this helpful? Consider supporting the <a href="https://www.youtube.com/channel/UCaThRBMEp21yRK4seqq3-Sw">Channel!</a>
      <a href="https://paypal.me/pathlesspedaled"><img src="paypal.png" width="25px"></a>
      <a href="https://patreon.com/pathlesspedaled"><img src="patreon.png" width="25px"></a>
    </div>
  </div>
  <hr>
