.container {
  max-width: 800px;
  margin-top: 15px;
}

.name {
  margin: 0px;
}

.about-container {
  margin-top: 5px;
}

.drio-photo-container {
  flex-grow: 0;
}

.drio-img {
  border-radius: 5px;
}


.no-grow {
  flew-grow: 0;
}

figure img {
  float:left;
  width: 250px;
  padding: 10px;
  border-radius: 15px;
}

.float-right {
  float:right;
}

.centered {
	position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -600px;
  margin-left: -512px;
}

.img-404 {
	border-radius: 15px;
}

figure.img-book-note > a > img {
	width: 200px;
	padding: 5px;
	border-radius: 0px;
}

.list-book-img {
	width: 200px;
	padding: 5px;
}

.uci-stripes {
  flex-grow: 0;
	padding: 20px;
}

.uci {
  width: 20px;
  height: 5px;
}

.uci-blue { background-color: #0177C6; }
.uci-red { background-color: #C8133C; }
.uci-black { background-color: #000000; }
.uci-yellow { background-color: #F8E000; }
.uci-green { background-color: #32B332; }

